<!-- if logged_in show all users, if not - show registrate btn-->
<% if user_signed_in? %>
<h1>Home page</h1>
<aside class="col-md-4">
  <%= current_user.name %>
  <section class="stats">
    <%= render 'users/stats' %>
  </section>
  <section class="micropost_form">
    <%= render 'microposts/micropost_form' %>
  </section>
</aside>
<!-- HERE MUST BE FEED -->
    <div class="col-md-8">
      <h3>Microposts</h3>
      <%= render @feed_items %>
    </div>
<% else %> 
<div class="center">
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %> <!-- not hiding -->
</div>        
<% end %>


